body {
    margin: 0;
}

/*Module*/
.section-divider {
    height: 500px;
    background-size: cover;
    background-position: 0% 70%;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackbg-text {
    font-size: 32px;
    background-color: black;
    color: white;
    padding: 15px;
    letter-spacing: 10px;
}

.sandwich {
    margin: 0 20%;
} 

.flex-container {
    display: flex;
    margin-bottom: 10%;
    flex-wrap: wrap;
}

/* middle ::content */
.beside-list {
    flex-basis: 50%;
}

.my-list {
    flex-basis: 50%;
}

/*Flow*/
h1,h2 {
    text-align: center;
}

/* Top Content*/
.p-pic {
    flex-basis: 40%;
}

.description {
    flex-basis: 57%;
    margin-left: 3%;
    align-self: center;
}

/* .bottom content  */
.column {
    flex: 20%;
    padding: 0 4px;
    box-sizing: border-box;
}

/* footer */
.footer {
    background-color: #888888;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
}

/* Images */
.top-image {
    background-image: url("images/2.jpg");
}

.mid-image
{
    background-image: url("images/3.jpg");
}

.btm-image
{
    background-image: url("images/4.jpg");
}

img {
    width: 100% ;
}

/* Media Query */
/* Tablets */
@media screen and (max-width: 800px) {
    /* Top Content*/
.p-pic {
    flex-basis: 100%;
}

.description {
    flex-basis: 100%;
}

/* middle ::content */
.beside-list {
    flex-basis: 100%;
}

.my-list {
    flex-basis: 100%;
}

/* .bottom content  */
.column {
    flex: 100%;
}
}

